@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>¡Hola!</b></h1>
    <p>Bienvenido a esta prueba de un proyecto utilizando ASP.NET CORE MVC.</p>
    <p><b>Elvin Somón | 2018-6795</b></p>

</div>
